//Fallbacks
//Broken Image fallback

@mixin broken-image() { //temp
	display: block;
	height: auto;
	line-height: 2;
	min-height: 50px;
	position: relative;
	text-align: center;
	width: 100%;

	&::before {
		background-color: rgb(230, 230, 230);
		border: 2px dotted rgb(200, 200, 200);
		border-radius: $border-radius;
		content: '';
		display: block;
		height: calc(100% + 10px);
		left: 0;
		position: absolute;
		top: -10px;
		width: 100%;
	}

	&::after {
		color: rgb(100, 100, 100);
		content: attr(alt);
		display: block;
		left: 0;
		position: absolute;
		text-align: center;
		top: 5px;
		width: 100%;
	}
}
