/* --- BEGIN BASE.CSS --- */
/* --- BEGIN RESET.CSS --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption,
figure, footer, header, hgroup,
menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before, blockquote::after {
  content: '';
  content: none; }

a {
  background-color: transparent; }

b,
strong {
  font-weight: bolder; }

q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none; }

[type='submit'],
[type='reset'],
[type='button'],
button {
  -webkit-appearance: button;
  background: none;
  border: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[role='button'] {
  -webkit-appearance: button;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: pre; }

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

/* --- END RESET.CSS --- */
/* --- BEGIN LAYOUT FEATURES.CSS --- */
.acc-clear-float {
  *zoom: 1; }
  .acc-clear-float::before, .acc-clear-float::after {
    content: ' ';
    display: table; }
  .acc-clear-float::after {
    clear: both; }

.acc-hide {
  display: none; }

.acc-hide-visually {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.acc-img {
  display: block;
  height: auto;
  line-height: 2;
  min-height: 50px;
  position: relative;
  text-align: center;
  width: 100%; }
  .acc-img::before {
    background-color: #e6e6e6;
    border: 2px dotted #c8c8c8;
    border-radius: 5px;
    content: '';
    display: block;
    height: calc(100% + 10px);
    left: 0;
    position: absolute;
    top: -10px;
    width: 100%; }
  .acc-img::after {
    color: #646464;
    content: attr(alt);
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 100%; }

/* --- END LAYOUT FEATURES.CSS  --- */
html {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }
  html *,
  html *::before,
  html *::after {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }

body {
  font-size: 160%; }

/* --- END BASE.CSS --- */
/* --- BEGIN PRINT.CSS --- */
.acc-print-me {
  display: none !important; }

@media print {
  body {
    -webkit-filter: grayscale(100%);
    filter: Gray();
    filter: url("#grayscale");
    filter: grayscale(100%); }
    body main a::after,
    body section a::after,
    body aside a::after {
      content: ' (" attr(href) ") ';
      font-size: 0.8em;
      font-weight: normal; }
  .acc-no-print {
    display: none !important; }
  .acc-print-me {
    display: block !important; } }

/* --- END PRINT.CSS --- */
/* --- BEGIN TEMP.CSS --- */
/* --- BEGIN EXAMPLES.CSS --- */
.red {
  color: blue;
  background: red; }

a {
  -webkit-transition: color 0.3s ease;
  -khtml-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #000; }
  a:hover {
    -webkit-opacity: 0.9;
    -khtml-opacity: 0.9;
    -moz-opacity: 0.9;
    -ms-opacity: 0.9;
    -o-opacity: 0.9;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -webkit-transform: scale(1.5);
    -khtml-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    color: #666; }

h1 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 2.275; }

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 2.0875; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.9; }

p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.525; }

.acc-top {
  border-style: solid;
  height: 0;
  -moz-transform: scale(0.9999);
  width: 0;
  border-color: transparent transparent #cc0000 transparent;
  border-width: 0 30px 30px 30px; }

.box {
  border: 1px solid black;
  margin: 10px;
  padding: 15px; }

/* --- END EXAMPLES.CSS --- */
.temp-table {
  border: 1px solid #ccc;
  min-width: 50%;
  padding: 5px;
  text-align: left; }

.temp-table thead {
  padding: 5px; }

.temp-table tbody {
  padding: 5px; }

.temp-table tr {
  padding: 5px; }

.temp-table td,
.temp-table th {
  padding: 5px; }

[role='button'],
[type='submit'],
[type='reset'],
[type='button'],
button {
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  height: 2.5em;
  line-height: 2.5;
  margin: 0.25em;
  padding: 0 1em;
  width: 14em; }

h1, h2, h3, h4, h5 {
  margin-bottom: 15px;
  margin-top: 15px; }

body {
  margin: 30px auto;
  min-width: 360px;
  width: 50%; }

p {
  margin-bottom: 10px; }

.equal-width-to-height-ratio {
  background: #666;
  padding-top: 50%;
  width: 50%; }

.test {
  position: relative; }
  .test > div {
    height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%; }

.red-text {
  color: red; }

/* --- END TEMP.CSS --- */
