/* temporary stuff, dev purpose, things I am not sure about yet, experimental... you get the point */

/* table */

.temp-table {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
  min-width: 50%;
}

.temp-table thead {
  padding: 5px;
}

.temp-table tbody {
  padding: 5px;
}

.temp-table tr {
  padding: 5px;
}

.temp-table td,
.temp-table th {
  padding: 5px;
}

/* button */

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border: 1px solid rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  height: 2.5em;
  line-height: 2.5;
  margin: 0.25em;
  padding: 0 1em;
  width: 14em;
}

/* typography */

h1,h2,h3,h4,h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  margin: 30px auto;
  min-width: 360px;
  width: 50%;
}

p {
  margin-bottom: 10px;
}

.equal-width-to-height-ratio {//todo
  background: #666;
  width: 50%;
  padding-top: 50%;
}

//for grid


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html {
  position: relative;
}

body {
  position: relative;
  background: url("http://a.rgbimg.com/cache1ois5u/users/e/er/ervinbacik/300/mrTD17s.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  color: #fff;
  padding: 40px;
}

.grid + .grid {
  margin-top: 10px;
}

.inner-wrap {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}