/* --- RESET.CSS --- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

a {
  background-color: transparent; }

b,
strong {
  font-weight: bolder; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

/* Float clearing mixin */
.acc-clear-float {
  *zoom: 1; }
  .acc-clear-float:before, .acc-clear-float:after {
    content: " ";
    display: table; }
  .acc-clear-float:after {
    clear: both; }

/* Opacity mixin */
/* Transition mixin */
.acc-visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/* Triangle mixin */
/* Flexbox mixins */
/* temporary stuff, dev purpose, things I am not sure about yet, experimental... you get the point */
/* table */
.temp-table {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
  min-width: 50%; }

.temp-table thead {
  padding: 5px; }

.temp-table tbody {
  padding: 5px; }

.temp-table tr {
  padding: 5px; }

.temp-table td,
.temp-table th {
  padding: 5px; }

/* button */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  height: 2.5em;
  line-height: 2.5;
  margin: 0.25em;
  padding: 0 1em;
  width: 14em; }

/* typography */
h1, h2, h3, h4, h5 {
  margin-top: 15px;
  margin-bottom: 15px; }

body {
  margin: 30px auto;
  min-width: 360px;
  width: 50%; }

p {
  margin-bottom: 10px; }

/* examples for components/ mixins, functions, etc */
/* Float clearing mixin */
.acc-clear-float {
  *zoom: 1; }
  .acc-clear-float:before, .acc-clear-float:after {
    content: " ";
    display: table; }
  .acc-clear-float:after {
    clear: both; }

/* Opacity mixin */
/* Transition mixin */
.acc-visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/* Triangle mixin */
/* Flexbox mixins */
/* float clear example */
/* opacity and transition example */
a {
  color: black;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    color: gray;
    opacity: 0.9;
    filter: alpha(opacity=90); }

/* font size */
h1 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 2.275; }

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 2.0875; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.9; }

p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.525; }

/* visually hidden */
/* triangles */
.acc-top {
  width: 0;
  height: 0;
  border-style: solid;
  -moz-transform: scale(0.9999);
  border-width: 0 30px 30px 30px;
  border-color: transparent transparent #cc0000 transparent; }
