// Select

// revise in beta

$temp-color: #4a4a4a;

@mixin select($display: inline-block) {
		padding: 0 10px;
    display: $display;
		min-width: 100px;
		line-height: 1;
		background: $color-white;
    border: 1px solid $default-color-gray--light;
    border-radius: $border-radius;
		color: $color-secondary;
		height: 38px;
		margin-bottom: 10px;
		outline: none;
		padding-left: 15px;
}
