//NOTE//
//Improve in upcoming versions. THIS IS NOT FINISHED
//

$buttons-font: 'Open-Sans', sans-serif;
$button-font: $buttons-font;
$default-button-color: $color-gray !default;
$color-pink: pink;
@mixin button($button-color: $default-button-color) {

	font-family: $button-font;
	background-color: $button-color;
	box-shadow: 0 2px 0 darken($button-color, 5%);
	cursor: pointer;
	
	&:hover,
	&:focus {
		background-color: darken($button-color, 15%);
		box-shadow: 0 2px 0 darken($button-color, 15%);
	}

	&:active {
		background-color: $button-color;
	}
}

@mixin button-defaults() {
	
	@include no-select();
	border: 0;
	border-radius: $border-radius;
	color: $color-white;
	display: inline-block;
	font-weight: 200;
	margin: 0 1% 2% 0;
	padding: 0.5rem 1rem;
	position: relative;
	text-decoration: none;
	transition: all .25s;
	vertical-align: middle;
	min-width: 80px;
	min-height: 36px;
	text-align: center;
	text-transform: uppercase;

	&:hover, &:focus {
		color: $color-white;
		outline: none;
	}
}

/**
 * @atom Default styles
 * @section Form > Buttons
 * @description
 *  Buttons containing different color schemes.
 * @markup
 *   <button type="button" class="primary">primary button</button>
 *   <button type="button" class="secondary">secondary button</button>
 *   <button type="button" class="error">error</button>
 *   <button type="button" class="go">proceed</button>
 *   <button type="button">greyed (default button)</button>
 *   <button type="button" disabled>disabled button</button>
 *   <button type="button" class="cancel">transparent button</button>
 *   <button class="pink">Pink buttom</button>
*/

@mixin button-styles() {

	&.primary {
		@include button ($color-main);
	}
	
	&.secondary {
		@include button ($color-secondary);
	}
	
	&.error {
		@include button ($color-error);
	}
	
	&.go {
		@include button ($color-success);
	}

	&.pink {
		@include button (pink);
	}
	
	&.cancel {
		@include button (transparent);
		color: $color-black;
	
		&:hover,
		&:active,
		&:focus {
		  color: #333333;
		}
	}
	
	&.disabled {
		@include button ($color-light-gray);
		cursor: not-allowed;
		color: #b2b2b2;
		@include opacity(.95);
	
		&:hover,
		&:active,
		&:focus {
		  color: #b2b2b2;
		}
	}
	
	&[disabled] {
		@include button ($color-light-gray);
		cursor: not-allowed;
		color: #b2b2b2;
		@include opacity(.95);
	
		&:hover,
		&:active,
		&:focus {
		  color: #b2b2b2;
		}
	}
}


/**
 * @atom Buttons with icons
 * @section Form > Buttons
 * @description
 *  Buttons containing icons. Either with a separator or without.
 * @markup
 *   <button type="button" class="error icon"><i class="fa fa-times"></i>Error</button>
 *   <button type="button" class="proceed icon"><i class="fa fa-check"></i>Success</button>
 *   <button type="button" class="primary icon"><i class="fa fa-icon-circle"></i>Info</button><br/>
 *   <button type="button" class="error"><i class="fa fa-times"></i>Error</button>
 *   <button type="button" class="proceed"><i class="fa fa-check"></i>Success</button>
 *   <button type="button" class="primary"><i class="fa fa-icon-circle"></i>Info</button>
*/


@mixin button-icon() {

	&:not(.icon) {
		> i {
			position: relative;
			right: 5px;
		}
	}

	&.icon {
		padding-left: 4em;
		padding-right: 1em;
		box-shadow: none;
		
		> i {
		  left: 1em;
		  margin-top: -.5em;
		  position: absolute;
		  top: 50%;
		}
	
		&:before {
		  background-color: rgba(black, .25);
		  border-radius: $border-radius 0 0 $border-radius;
		  bottom: 0;
		  content: '';
		  left: 0;
		  position: absolute;
		  top: 0;
		  transition: all .25s;
		  width: 3em;
		}

		&:hover,
		&:focus {
			box-shadow: none;
		}
	}
}

/**
 * @atom Default alignments
 * @section Form > Buttons
 * @description
 *  Buttons containing different alingments.
 * @markup
 *   <button type="button" class="bottom small secondary">small button</button>
 *   <button type="button" class="bottom secondary">normal button</button>
 *   <button type="button" class="large secondary">large button</button><br/>
 *   <button type="button" class="large primary">large button</button>
 *   <button type="button" class="top primary">normal button</button>
 *   <button type="button" class="top small primary">small button</button>
*/

@mixin button-alignments() {
	
	&.top {
		vertical-align: top;
	}
	
	&.bottom {
		vertical-align: bottom;
	}
}

/**
 * @atom Default sizes
 * @section Form > Buttons
 * @description
 *  Buttons containing different sizes.
 * @markup
 *   <button type="button" class="smallest">smallest button</button>
 *   <button type="button" class="small">small button</button>
 *   <button type="button">normal button</button>
 *   <button type="button" class="medium">medium button</button> 
 *   <button type="button" class="large">large button</button>
*/

@mixin button-sizes() {

	&.large {
		@include text-size(14, 26);
		padding-bottom: .5em;
		padding-top: .5em;
		min-height: 50px;
		min-width: 120px;
	}
	
	&.small {
		@include text-size(11);
		padding: .5em 1.5em .15em 1.5em;
		min-height: 22px;
		min-width: 60px;
	}

	&.smallest {
		@include text-size(9);
		padding: .5em 1.5em .15em 1.5em;
		min-height: 14px;
		min-width: 60px;
	}
}

/**
 * @atom Elements that will look like a button
 * @section Form > Buttons
 * @description
 *  Buttons containing different color schemes.
 * @markup
 *   <input type="button" value="input button" class="acc-is-button">
 *   <a class="acc-is-button">link button</a>
 *   <span class="acc-is-button">span button</span>
 *   <span class="acc-is-button primary large">span button</span>
*/

@mixin button-lookalike() {

	&:hover {
		text-decoration: none;
	}
}
