$triangle-size: 6px; // = height of triangle, width is 2x
$tooltip-width: 200px;
$fade: 300ms;
$white: #fff;
$black: #000;

//todo move ? improve
@mixin tooltip($direction: nw, $bg-color: #000, $title: false) {
	position: relative;

	&:before, &:after {
		opacity: 0;
		//	@include transition(opacity $fade, visibility 0ms linear $fade); // delay visibility on fade out
		pointer-events: none;
		z-index: 98;
		//@include respondTo(smartphone){ display: none; }
	}

	&:before { // tooltip body
		background-color: $bg-color;
		border-radius: 3px;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
		content: attr(data-tooltip);
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		padding: 10px 15px;
		position: absolute;
		text-align: left;
		white-space: normal;
		width: $tooltip-width;
		@if lightness($bg-color) < 50% { // dynamically determine light or dark color based on $bg-color
			color: $white;
		} @else {
			color: $black;
		}
	}
	&:after { content: ''; } // tooltip carrot


	&:hover {
		&:before, &:after {
			opacity: 1;
			pointer-events: all;
			//@include transition-delay(0ms);
		}
	}

	@if $direction == 'nw' or $direction == 'ne' {
		&:before {
			@include transform(translateY(-100%)); bottom: auto; // override with auto in case this tooltip is overriding a previous instance in another direction
			top: -($triangle-size + 3px);
		}

		&:after {
			@include triangle(down, $triangle-size, $bg-color); bottom: auto;
			top: -($triangle-size + 3px);
		}
	}
	@else if $direction == 'se' or $direction == 'sw' {
		&:before {
			@include transform(translateY(100%));
			bottom: -($triangle-size + 3px); top: auto; // extra 3px for spacing
		}

		&:after {
			@include triangle(up, $triangle-size, $bg-color);
			bottom: -($triangle-size + 3px); top: auto;
		}
	}

	// apply positioning to left and right values
	@if $direction == 'ne' or $direction == 'se' {
		&:before, &:after {
			left: 50%;
			margin-left: -$triangle-size; right: auto;
		}
		&:before { margin-left: -$triangle-size * 3; }
	}
	@else if $direction == 'nw' or $direction == 'sw' {
		&:before, &:after { left: auto;
			margin-right: -$triangle-size;
			right: 50%;
		}
		&:before { margin-right: -$triangle-size * 3; }
	}
	@else { @warn 'direction not valid in tooltip mixin'; }
}
