$triangle-size: 6px; // = height of triangle, width is 2x
$tooltip-width: 200px;
$fade: 300ms;
$white: #fff;
$black: #000;

//todo move ? improve
@mixin tooltip($direction: nw, $bg-color: #000, $title: false) {
  position: relative;

  &:before, &:after {
    opacity: 0;
    z-index: 98;
    //	@include transition(opacity $fade, visibility 0ms linear $fade); // delay visibility on fade out
    pointer-events: none;
    @include respondTo(smartphone){ display: none; }
  }

  &:before { // tooltip body
    content: attr(data-tooltip);
    position: absolute;
    width: $tooltip-width;
    padding: 10px 15px;
    line-height: 18px;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    white-space: normal;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: $bg-color;
    @if lightness($bg-color) < 50% { // dynamically determine light or dark color based on $bg-color
      color: $white;
    } @else {
      color: $black;
    }
  }
  &:after { content: ''; } // tooltip carrot

  @if $direction == 'nw' or $direction == 'ne' {
    &:before {
      top: -($triangle-size + 3px); bottom: auto; // override with auto in case this tooltip is overriding a previous instance in another direction
      @include transform(translateY(-100%));
    }
    &:after {
      @include triangle(down, $triangle-size, $bg-color);
      top: -($triangle-size + 3px); bottom: auto;
    }
  }
  @else if $direction == 'se' or $direction == 'sw' {
    &:before {
      bottom: -($triangle-size + 3px); top: auto; // extra 3px for spacing
      @include transform(translateY(100%));
    }
    &:after {
      @include triangle(up, $triangle-size, $bg-color);
      bottom: -($triangle-size + 3px); top: auto;
    }
  }

  // apply positioning to left and right values
  @if $direction == 'ne' or $direction == 'se' {
    &:before, &:after {
      left: 50%; right: auto;
      margin-left: -$triangle-size;
    }
    &:before { margin-left: -$triangle-size * 3; }
  }
  @else if $direction == 'nw' or $direction == 'sw' {
    &:before, &:after {
      right: 50%; left: auto;
      margin-right: -$triangle-size;
    }
    &:before { margin-right: -$triangle-size * 3; }
  }
  @else { @warn 'direction not valid in tooltip mixin'; }


  &:hover {
    &:before, &:after {
      opacity: 1;
      pointer-events: all;
      //@include transition-delay(0ms);
    }
  }
}