// Inputs / Textareas / Labels

//todo disabled inputs. hover active states
//add colored option for inputs to change borders
//NOTE//
//Improve in upcoming versions. THIS IS NOT FINISHED
//

/**
 * @atom Block inputs
 * @section Form > Input
 * @description
 *  Default styling for inputs
 * @markup
 *  <div class="acc-form">
 *   <label>Text Input</label>
 *   <input type="text" value="hello">
 *  </div>
*/

$placeholder-color: #999;
$temp-color: #4a4a4a;

/**
 * @atom Inline inputs
 * @section Form > Input
 * @description
 *  Inline input example
 * @markup
 *  <div class="acc-form-inline">
 *   <label>Text Input</label>
 *   <input type="text" value="hello">
 *  </div>
*/

@mixin form-input($display: inline-block) {

  &[type=text],
  &[type=password],
  &[type=email],
  &[type=number] { 
    font: inherit;
    @include text-size(16, 22);
    background: $color-white;
    border: 1px solid $color-light-gray;
    border-radius: $border-radius;
    color: $temp-color;
    height: 38px; //???
    margin-bottom: 10px;
    outline: none;
    padding-left: 15px;
    display: $display;
  }

  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }

  &:-moz-placeholder {
    color: $placeholder-color;
  }

  &::-moz-placeholder {
    color: $placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
}

/**
 * @atom Textarea
 * @section Form > Input
 * @description
 *  Default styling for textarea
 * @markup
 *  <div class="acc-form">
 *   <textarea name="message" rows="10" cols="30">test</textarea>
 *  </div>
*/

@mixin form-textarea($display: inline-block) {

  font: inherit;
  @include text-size(16,22);
  @include box-sizing();
  padding: 15px;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius;
  margin-bottom: 10px;
  color: $temp-color;
  display: $display;
}

@mixin form-legend($display: inline-block) {

  span {
    display: $display;
  }

  label {
    display: $display;  
  }
}

@mixin form-legend-color($text-color: $temp-color) {
  
  span {
    color: $text-color;
  }

  label {
    color: $text-color;
  }
}