//todo disabled inputs. hover active states
//add colored option for inputs to change borders
//NOTE//
//Improve in upcoming versions. THIS IS NOT FINISHED
//

$input-bg-color: $default-input-color-background;
$input-border-color: $default-input-color-border;
$input-text-color: $default-input-color-text;


/**
 * @molecule Block inputs
 * @section Form > Input
 * @description
 *  Default styling for inputs, wrapped in a form div.
 * @markup
 *  <div class="acc-form">
 *   <label>Text Input</label>
 *   <input class="acc-input" type="text" value="hello">
 *  </div>
*/

$var: null; 

/**
 * @molecule Inline inputs
 * @section Form > Input
 * @description
 *  Alternate input example, having the wrapper of the form function as an inline-block.
 * @markup
 *  <div class="acc-form-inline">
 *   <label>Text Input</label>
 *   <input class="acc-input" type="text" value="hello">
 *  </div>
*/

@mixin form-input($display: inline-block) {

  &[type=text],
  &[type=password],
  &[type=email],
  &[type=number] { 
    @extend %paragraph-font;
    @include text-size(16, 22);
    
    background: $input-bg-color;
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    color: $input-text-color;
    height: 38px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 15px;
    display: $display;
  }

  &::-webkit-input-placeholder {
    color: $input-text-color;
  }

  &:-moz-placeholder {
    color: $input-text-color;
  }

  &::-moz-placeholder {
    color: $input-text-color;
  }

  &:-ms-input-placeholder {
    color: $input-text-color;
  }
}

/**
 * @molecule Textarea
 * @section Form > Input
 * @description
 *  Default styling for textarea
 * @markup
 *  <div class="acc-form">
 *   <textarea class="acc-textarea" name="message" rows="10" cols="30">test</textarea>
 *  </div>
*/

@mixin form-textarea($display: inline-block) {
  @extend %paragraph-font;
  
  @include text-size(16,22);
  @include box-sizing();

  background-color: $input-bg-color;
  padding: 15px;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  margin-bottom: 10px;
  color: $input-text-color;
  display: $display;
}

//NOTE//
//Improve in upcoming versions. Avoid element styling
//

@mixin form-legend($display: inline-block) {

  span {
    display: $display;
  }

  label {
    display: $display;  
  }
}

@mixin form-legend-color() {
  
  span {
    color: $input-text-color;
  }

  label {
    color: $input-text-color;
  }
}