/* --- BEGIN TOOL-TIPS.CSS --- */

.#{$prefix}info-icon { //todo: revise in beta
	@include text-size(16, 30);
	background: $color-main;
	border-radius: 50%;
	color: $color-white;
	display: inline-block;
	font-style: normal;
	height: 30px;
	margin: 0 10px 10px 10px;
	text-align: center;
	width: 30px;

	&.top-right { 
		@include tooltip(top-right, $color-lighter-main); 
	}

	&.top-left { 
		@include tooltip(top-left, $color-lighter-main); 
	}

	&.bottom-right { 
		@include tooltip(bottom-right, $color-lighter-main); 
	}

	&.bottom-left {
		@include tooltip(bottom-left, $color-lighter-main); 
	}
}

/* --- END TOOL-TIPS.CSS --- */
