@charset "UTF-8";
/* --- BEGIN RESET.CSS --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption,
figure, footer, header, hgroup,
menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

a {
  background-color: transparent; }

b,
strong {
  font-weight: bolder; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

/* --- END RESET.CSS --- */
/* --- BEGIN BASE.CSS --- */
html {
  font-size: 62.5%; }

body {
  font-size: 160%; }

/* --- END BASE.CSS --- */
@keyframes loader {
  from {
    opacity: 1;
    transform: translateY(0); }
  to {
    opacity: 0.1;
    transform: translateY(-1rem); } }

@keyframes loader {
  from {
    opacity: 1;
    transform: translateY(0); }
  to {
    opacity: 0.1;
    transform: translateY(-1rem); } }

/* --- BEGIN LAYOUT BASE.CSS --- */
.acc-clear-float {
  *zoom: 1; }
  .acc-clear-float:before, .acc-clear-float:after {
    content: " ";
    display: table; }
  .acc-clear-float:after {
    clear: both; }

.acc-visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

.acc-img {
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;
  text-align: center;
  min-height: 50px;
  width: 100%;
  height: auto;
  display: block;
  position: relative; }
  .acc-img:before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    background-color: #e6e6e6;
    border: 2px dotted #c8c8c8;
    border-radius: 5px; }
  .acc-img:after {
    content: "" " Broken Image of " attr(alt);
    display: block;
    font-size: 16px;
    font-style: normal;
    font-family: FontAwesome;
    color: #646464;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center; }

/* --- BEGIN LAYOUT BASE.CSS --- */
.example {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  width: 100%; }
  .example > * {
    flex: 1 0 100%; }

.example > div:nth-child(1) {
  max-width: 16.66667%; }

.example > div:nth-child(2) {
  max-width: 83.33333%; }

.example > div:nth-child(n+4):nth-child(-n+7) {
  max-width: 50%; }

.example > div:nth-child(n+8):nth-child(-n+9) {
  max-width: 33.33333%;
  margin-left: 16.66667%;
  margin-right: 50%; }

.example > div:nth-child(10) {
  max-width: 50%; }

.example > div:nth-child(n+11):nth-child(-n+12) {
  max-width: 25%; }

/* --- BEGIN GRID.CSS --- */
.acc-grid-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  width: 100%; }
  .acc-grid-container > * {
    flex: 1 0 100%; }
  @media (max-width: 37.4375em) {
    .acc-grid-container .acc-col-xs-full {
      max-width: 100%; }
    .acc-grid-container .acc-col-xs-half {
      max-width: 50%; }
    .acc-grid-container .acc-col-xs-third {
      max-width: 33.33333%; }
    .acc-grid-container .acc-col-xs-quarter {
      max-width: 25%; }
    .acc-grid-container .acc-col-xs-fifth {
      max-width: 20%; } }
  @media (min-width: 37.5em) {
    .acc-grid-container .acc-col-sm-full {
      max-width: 100%; }
    .acc-grid-container .acc-col-sm-half {
      max-width: 50%; }
    .acc-grid-container .acc-col-sm-third {
      max-width: 33.33333%; }
    .acc-grid-container .acc-col-sm-quarter {
      max-width: 25%; }
    .acc-grid-container .acc-col-sm-fifth {
      max-width: 20%; } }
  @media (min-width: 56.25em) {
    .acc-grid-container .acc-col-md-full {
      max-width: 100%; }
    .acc-grid-container .acc-col-md-half {
      max-width: 50%; }
    .acc-grid-container .acc-col-md-third {
      max-width: 33.33333%; }
    .acc-grid-container .acc-col-md-quarter {
      max-width: 25%; }
    .acc-grid-container .acc-col-md-fifth {
      max-width: 20%; } }
  @media (min-width: 75em) {
    .acc-grid-container .acc-col-lg-full {
      max-width: 100%; }
    .acc-grid-container .acc-col-lg-half {
      max-width: 50%; }
    .acc-grid-container .acc-col-lg-third {
      max-width: 33.33333%; }
    .acc-grid-container .acc-col-lg-quarter {
      max-width: 25%; }
    .acc-grid-container .acc-col-lg-fifth {
      max-width: 20%; } }
  @media (min-width: 112.5em) {
    .acc-grid-container .acc-col-big-full {
      max-width: 100%; }
    .acc-grid-container .acc-col-big-half {
      max-width: 50%; }
    .acc-grid-container .acc-col-big-third {
      max-width: 33.33333%; }
    .acc-grid-container .acc-col-big-quarter {
      max-width: 25%; }
    .acc-grid-container .acc-col-big-fifth {
      max-width: 20%; } }
  .acc-grid-container .acc-col-full {
    max-width: 100%; }
  .acc-grid-container .acc-col-half {
    max-width: 50%; }
  .acc-grid-container .acc-col-third {
    max-width: 33.33333%; }
  .acc-grid-container .acc-col-quarter {
    max-width: 25%; }
  .acc-grid-container .acc-col-fifth {
    max-width: 20%; }

/* --- END GRID.CSS --- */
/* --- BEGIN PRINT.CSS --- */
.acc.print-me {
  display: none !important; }

@media print {
  body {
    filter: Gray();
    filter: url("#grayscale");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    body main a:after,
    body section a:after,
    body aside a:after {
      content: " (" attr(href) ") ";
      font-size: 0.8em;
      font-weight: normal; }
  .acc-no-print {
    display: none !important; }
  .acc.print-me {
    display: block !important; } }

/* --- END PRINT.CSS --- */
/* temporary stuff, dev purpose, things I am not sure about yet, experimental... you get the point */
/* table */
.temp-table {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
  min-width: 50%; }

.temp-table thead {
  padding: 5px; }

.temp-table tbody {
  padding: 5px; }

.temp-table tr {
  padding: 5px; }

.temp-table td,
.temp-table th {
  padding: 5px; }

/* button */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  height: 2.5em;
  line-height: 2.5;
  margin: 0.25em;
  padding: 0 1em;
  width: 14em; }

/* typography */
h1, h2, h3, h4, h5 {
  margin-top: 15px;
  margin-bottom: 15px; }

body {
  margin: 30px auto;
  min-width: 360px;
  width: 50%; }

p {
  margin-bottom: 10px; }

.equal-width-to-height-ratio {
  background: #666;
  width: 50%;
  padding-top: 50%; }

/* examples for components/ mixins, functions, etc */
/* opacity and transition example */
a {
  color: black;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    color: gray;
    opacity: 0.9;
    filter: alpha(opacity=90); }

/* font size */
h1 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 2.275; }

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 2.0875; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.9; }

p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.525; }

/* triangles */
.acc-top {
  width: 0;
  height: 0;
  border-style: solid;
  -moz-transform: scale(0.9999);
  border-width: 0 30px 30px 30px;
  border-color: transparent transparent #cc0000 transparent; }
