//todo: improve mixins,
//add more styles
//sync with responsive breakpoints maybe?

@mixin default-table() {
	border: 1px solid #ccc;
	min-width: 50%;
	padding: 5px;
	text-align: left;

	td,
	th {
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: top;
		border: 1px solid #ddd;
	}
}

@mixin minimal-table() {
		border: 1px solid #ccc;
		min-width: 50%;
		padding: 5px;
		text-align: left;

	thead {
		padding: 5px;
	}

	tbody {
		padding: 5px;
	}

	tr {
		padding: 5px;
	}

	td,
	th {
		padding: 5px;
	}
}
