

a {
  color: yellow;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

}

body section h1 { // ????
  margin-bottom: 40px;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

h1 {
  @include text-size(48);
  margin-bottom: 10px;
}

h2 {
 @include text-size(38);
  margin-bottom: 10px;
}

h3 {
  @include text-size(32);
  margin-bottom: 10px;
}

h4 {
  @include text-size(28);
  margin-bottom: 10px;
}

h5 {
 @include text-size(24);
  margin-bottom: 10px;
}

h6 {
  @include text-size(22);
  margin-bottom: 10px;
}

p {
 // @include text-size(18, 24); we have a default size
  @include text-size(18);
  margin-bottom: 10px;
}
