@import 'elements/index';

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

p {
  // @include text-size(18, 24); we have a default size
  @include text-size(18);
  margin-bottom: 10px;
}