//maybe it's not the best place for a theme file

//color scheme 1
$color-main: #2274a5;
$color-secondary: #273c42;
$color-error: #ff4136;
$color-success: #3d9970;
$color-disabled: #eeeeee;

$color-headings: #273c42;
$color-paragraphs: #273c42;

$font-stack: 'Roboto', sans-serif;
$border-radius: 0;
