$color-heading: $color-dark-gray;
$font-heading: 'Lato', sans-serif;

$color-headings: $color-heading;
$font-headings: $font-heading;

/**
 * Headlines which visually separate and introduce content.
 *
 * @atom Headlines
 * @section Typography > Content markup tags
 * @markup
 *  <h1>Headline H1</h1>
 *  <h2>Headline H2</h2>
 *  <h3>Headline H3</h3>
 *  <h4>Headline H4</h4>
 *  <h5>Headline H5</h5>
 *  <h6>Headline H6</h6>
*/

@mixin heading-defaults() {
    
    margin-bottom: 15px;
    font-family: $font-headings;
    color: $color-headings;
}