/**
 * Sets the trancparency level for an element.
 *
 * @mixin
 * @section CSS Helpers
 * @param $argument rational number between 0 and 1. (eg 0.9)
 * @example
 *  @include opacity(0.5);
*/

@mixin opacity($argument) {
	$argument-ie: ($argument * 100);
	@include vendor-prefix('opacity', $argument);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + $argument-ie + ')';
	filter: alpha(opacity=$argument-ie);
}
