//NOTE//
//Improve in upcoming versions. THIS IS NOT FINISHED
//

@mixin select($display: inline-block) {
  $select-bg-color: $default-select-color-background;
  $select-border-color: $default-select-color-border;
  $select-text-color: $default-select-color-text;

  //@include text-size(16);
  padding: 0 10px;
  display: $display;
  min-width: 100px;
  background: $select-bg-color;
  border: 1px solid $select-border-color;
  border-radius: $border-radius;
  color: $default-select-color-text;
  height: 38px;
  margin-bottom: 10px;
  outline: none;
  padding-left: 15px;
}
