h1, h2, h3, h4, h5 {
  margin-bottom: 15px;
  margin-top: 15px;
}

p {
  margin-bottom: 10px;
}

h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
a {
  color: yellow;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

}

  body section h1 {
    margin-bottom: 40px;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
  }