//-
 * atoms.pug -- Compose the atoms page
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

extends ./common/layout.pug

include ./common/sections.pug

block title
  | Atoms

block nav
  -var selected = 'Atoms';

block content
  .SG-top-wrapper 
    .SG-row
      .SG-gr-12
        .SG-h1 Atoms

    .SG-row
      .SG-gr-6
        .SG-h3 Navigation
      .SG-gr-6
        .SG-h3 What are Atoms?

    .SG-row
      .SG-gr-6.SG-toc
        +toc(styles.Atoms)
      .SG-gr-6
        .SG-p.
          Atoms are the very basic elements. Imagine every single-class element or selector rule as an atom.
        .SG-p.
          As a rule only one nested atom within atom is accepted. The more large and complex the atom becomes, we should consider either breaking it apart, or create a molecule from it.
        .SG-p.
          Examples of atoms include basic buttons, links, headlines or inputs.  

  if styles.Atoms
    +section-second-level(styles.Atoms)
