//-
 * molecules.pug -- Compose the molecules page
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

extends ./common/layout.pug

include ./common/sections.pug

block title
  | Molecules

block nav
  -var selected = 'Molecules';

block content
  .SG-top-wrapper 
    .SG-row
      .SG-gr-12
        .SG-h1 Molecules

    .SG-row
      .SG-gr-6
        .SG-h3 Navigation
      .SG-gr-6
        .SG-h3 What are Molecules?

    .SG-row
      .SG-gr-6.SG-toc
        +toc(styles.Molecules)
      .SG-gr-6
        .SG-p.
          Molecules are sections of components that consist of a large number of atoms linked together. 
        .SG-p.
          One molecule example is creating a tooltip by using buttons and icons.
        .SG-p.
          For anything that can resemble a molecular structure but it seems a bit complex, we recommend either separate it(breaking it apart) or move it to the structure area.
      
  
  if styles.Molecules
    +section-second-level(styles.Molecules)
