//-
 * structures.pug -- Compose the structures page
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

extends ./common/layout.pug

include ./common/sections.pug
include ./common/toc.pug

block title
  | Structures

block nav
  -var selected = 'Structures';

block content
  .SG-top-wrapper 
    .SG-row
      .SG-gr-12
        .SG-h1 Structures

    .SG-row
      .SG-gr-6
        .SG-h3 Navigation
      .SG-gr-6
        .SG-h3 What are Structures?

    .SG-row
      .SG-gr-6.SG-toc
        +toc(styles.Structures)
      .SG-gr-6
        .SG-p.
          Structures are the most complex types in accesa design system. 
        .SG-p.
          There are two types of structures:
        .SG-p.
          - Molecular structures (very complex). They may consist of multiple molecules or a a number of atoms linked together with molecules.
        .SG-p.
          - Cover structures (not so complex). Cover structures server as wrappers for other molecules. 
        .SG-p.
          The header of this page is surely a molecular structure and the grid system is a cover structure.

  if styles.Structures
    +section-second-level(styles.Structures)
