// Select

// revise in beta

@mixin select($display: inline-block) {
		padding: 0 10px;
    display: $display;
		min-width: 100px;
		line-height: 1;
		background: $color-white;
		border: 1px solid $color-gray;
    border-radius: $border-radius;
		color: $color-secondary;
		height: 38px;
		margin-bottom: 10px;
		outline: none;
		padding-left: 15px;
}
