//Opacity mixin

@mixin opacity($argument) {
  $argument-ie: ($argument * 100);
  filter: alpha(opacity=$argument-ie);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $argument-ie + ")";
  @include general-prefix('opacity', $argument);
}