//Triangle mixin

$square: 30px;

@mixin triangle($alignment, $sizeV, $sizeH, $color) {
	border-style: solid;
	height: 0;
	-moz-transform: scale(.9999);
	width: 0;

	@if $alignment == top {
		border-color: transparent transparent $color transparent;
		border-width: 0 $sizeV $sizeH $sizeV;
	}

	@if $alignment == bottom {
		border-color: $color transparent transparent transparent;
		border-width: $sizeV $sizeH 0 $sizeV;
	}

	@if $alignment == right {
		border-color: transparent transparent transparent $color;
		border-width: $sizeV 0 $sizeV $sizeH;
	}

	@if $alignment == left {
		border-color: transparent $color transparent transparent;
		border-width: $sizeV $sizeH $sizeV 0;
	}

	@if $alignment == topright {
		border-color: transparent $color transparent transparent;
		border-width: 0 $sizeH $sizeV 0;
	}

	@if $alignment == bottomright {
		border-color: transparent transparent $color transparent;
		border-width: 0 0 $sizeH $sizeV;
	}

	@if $alignment == bottomleft {
		border-color: transparent transparent transparent $color;
		border-width: $sizeH 0 0 $sizeV;
	}

	@if $alignment == topleft {
		border-color: $color transparent transparent transparent;
		border-width: $sizeH $sizeV 0 0;
	}
}
