.#{$prefix}-flat-form {
	@include input();
	@include input-button();
	@include select();
}

/* temp *?
body
 */

body {
	@include input();
	@include input-button();
	@include select();
	@include textarea();
}

[class*='button--'] { //todo - handle hover colors
	border-radius: $border-radius; // todo shadow if material design
	color: white;
	display: inline-block;
	font-weight: 200;
	margin: 0 1% 2% 0;
	padding: 0.5% 1%;
	position: relative;
	text-decoration: none;
	transition: all .25s;
	vertical-align: middle;
	min-width: 80px;
	min-height: 20px;
	text-align: center;
	text-transform: uppercase;

	&:hover, &:focus {
		box-shadow: none;
		color: white;
		outline: none;
	}
}

.#{$prefix}-button--primary { @include button (#2274a5);}
.#{$prefix}-button--secondary { @include button (#273c42);}
.#{$prefix}-button--error { @include button (#ff4136);}
.#{$prefix}-button--proceed { @include button (#3d9970);}
.#{$prefix}-button--cancel { @include button (#888888);}
.#{$prefix}-button--alternative {
	@include button (transparent);
	color: #000;

	&:hover,
	&:active,
	&:focus {
		color: #333333;
	}
};

.#{$prefix}-button--disabled {
	@include button (#eee);
	cursor: not-allowed;
	color: #b2b2b2;
	@include opacity(.95);

	&:hover,
	&:active,
	&:focus {
		color: #b2b2b2;
	}
}

/* Sizes */

.#{$prefix}-button--large {
	font-size: 32px;
	font-size: 2rem;
	padding-bottom: .5em;
	padding-top: .5em;
}

.#{$prefix}-button--small {
	font-size: 13px;
	font-size: .8rem;
	padding: .5em 1.5em;
}

/* Alignment */

.#{$prefix}-button--align-top { vertical-align: top; }
.#{$prefix}-button--align-bottom { vertical-align: bottom; }

/* icons */

.#{$prefix}-button--icon {
	padding-left: 4em;
	padding-right: 1em;

	> i {
		left: 1em;
		margin-top: -.5em;
		position: absolute;
		top: 50%;
	}

	&:before {
		background-color: rgba(black, .25);
		border-radius: $border-radius 0 0 $border-radius;
		bottom: 0;
		box-shadow: 0 2px 0 rgba(black, .25);
		content: '';
		left: 0;
		position: absolute;
		top: 0;
		transition: all .25s;
		width: 3em;
	}

	&:hover:before {
		box-shadow: none;
	}
}
