/**
 * Solution for various scenarios when an image is not loaded.
 *
 * @mixin
 * @section CSS Enhancements
 * @example
 *  @include broken-image()  //soon to be updated so you can pass parameters
 */
 
@mixin broken-image() {
	display: block;
	height: auto;
	line-height: 2;
	min-height: 50px;
	position: relative;
	text-align: center;
	width: 100%;

	&::before {
		background-color: $color-disabled;
		border: 2px dotted $color-gray;
		border-radius: $border-radius;
		content: '';
		display: block;
		height: calc(100% + 10px);
		left: 0;
		position: absolute;
		top: -10px;
		width: 100%;
	}

	&::after {
		color: $color-dark-gray;
		content: attr(alt);
		display: block;
		left: 0;
		position: absolute;
		text-align: center;
		top: 5px;
		width: 100%;
	}
}
