/**
 * Truncate text, adding an ellipsis at the end of the first row. Width parameter should be set.
 *
 * @mixin
 * @section Ellipsis
 * @example
 *  @include single-line-ellipsis(); //default 100% width
 *  @include single-line-ellipsis(300px); // you can pass px or % parameter as width
 */

@mixin single-line-ellipsis($width: 100%) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: $width;
}

// todo: provide experimental multiple line ellipsis