// Single line ellipsis
// todo: provide experimental multiple line ellipsis

@mixin single-line-ellipsis($width: 100%) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: $width;
}
