

//Buttons
$default-button-color-background: $color-gray;
$default-button-color-text: $color-white;

//Select
$default-select-color-background: $color-white;
$default-select-color-border: $color-light-gray;
$default-select-color-text: $color-dark-gray;

//Inputs
$default-input-color-background: $color-white;
$default-input-color-border: $color-light-gray;
$default-input-color-text: $color-dark-gray;