$color-primary: null;

$color-main: null;
$color-dark-main: null;
$color-lighter-main: null;

$color-gray: null;
$color-dark-gray: null;
$color-light-gray: null;

$color-red: null;
$color-success: null;
$color-error: null;

$color-secondary: null;
$color-secondary-dark: null;

$color-white: null;
$color-white-smoke: null;
$color-black: null;