$btn-color: null;

$color-main: null;
$color-dark-main: null;
$color-lighter-main: null;

$color-black: null;
$color-white: null;

$color-secondary: null;
$color-secondary-dark: null;

$color-gray: null;
$color-dark-gray: null;
$color-light-gray: null;

$color-success: null;
$color-error: null;

//todo
$color-white-smoke: null;