@mixin predefined-color-scheme() {
/**
  * Primary color variable
  * @color Primary color variable
  * @section Theme Colors
*/

$color-main: #426BB3!default;

/**
 * Lighter primary color variable
 * @color Lighter primary color variable
 * @section Theme Colors
*/

$color-lighter-main: #2274a5!default;

/**
* @color Default secondary color variable
* @section Theme Colors
*/

$color-secondary: #3e5d6f!default;

/**
* @color Secondary dark color variable
* @section Theme Colors
*/

$color-secondary-dark: #3e5d6f!default;

/**
* @color Default alternate color variable
* @section Theme Colors
*/

$color-success: #00b069!default;

/**
* @color Default red color variable
 * @section Theme Colors
*/

$color-error: #e90d00!default;

/**
* @color Default white variable.
* @section Grayscale
*/

$color-white: #ffffff!default;

/**
* @color Default whitesmoke variable
* @section Grayscale
*/

$color-white-smoke: #efefef!default;

/**
* @color Default light gray color variable
* @section Grayscale
*/

$color-light-gray: #cccccc!default;

/**
* @color Default gray color variable
* @section Grayscale
*/

$color-gray: #646464!default;

/**
* @color Default dark gray color variable
* @section Grayscale
*/

$color-dark-gray: #313131!default;

/**
* @color Default black variable
* @section Grayscale
*/

$color-black: #000000!default;
}

@mixin dynamic-color-scheme() {
  $color-main: #2274a5!default;

  $color-primary: $color-main;
  $color-dark-main: darken($color-primary, 10%)!default;
  $color-lighter-main: lighten($color-primary, 90%)!default;
  
  $color-gray: grayscale($color-primary)!default;
  $color-dark-gray: darken($color-gray, 20%)!default;
  $color-light-gray: lighten($color-gray, 20%)!default;
  
  //NOTE//
  //Improve in upcoming versions:
  //
  $color-red: #e90d00!default;
  $color-error: darken(mix(lighten($color-primary, 90%), $color-red), 20%)!default;
  $color-success: adjust-color($color-primary, -90, 60, -90)!default;
  
  $color-secondary: mix(darken($color-primary, 10%), $color-gray)!default;
  $color-secondary-dark: darken($color-secondary, 20%)!default;
  
  $color-white: lighten($color-primary, 100%)!default;
  
  //NOTE//
  //Improve in upcoming versions:
  //
  $color-white-smoke: #efefef!default;
  $color-black: darken($color-primary, 100%)!default;
}

@if ($dynamic-colors == true) {
  @include dynamic-color-scheme();
}

@else {
  @include predefined-color-scheme();
}