/**
  * Primary color variable
  * @color Primary color variable
  * @section Theme Colors
*/

$color-main: #2274a5!default;

/**
 * Lighter version of the primary color
 * @color Lighter primary color variable
 * @section Theme Colors
*/

$color-lighter-main: rgb(59, 147, 219)!default;

/**
 * Darker version of the primary color
 * @color Darker primary color variable
 * @section Theme Colors
*/

$color-darker-main: #426BB3!default;

/**
* @color Secondary color variable
* @section Theme Colors
*/

$color-secondary: #3e5d6f!default;

/**
* @color Darker version of the secondary color
* @section Theme Colors
*/

$color-secondary-dark: #3e5d6f!default;

/**
* @color Primary alternate color ('success color')
* @section Theme Colors
*/

$color-success: #00b069!default;

/**
* @color Secondary alternate color ('error color')
 * @section Theme Colors
*/

$color-error: #e90d00!default;

/**
* @color White
* @section Grayscale
*/

$color-white: #ffffff!default;

/**
* @color Whitesmoke
* @section Grayscale
*/

$color-white-smoke: #efefef!default;

/**
* @color Gray color
* @section Grayscale
*/

$color-gray: #646464!default;

/**
* @color Light gray color
* @section Grayscale
*/

$color-light-gray: #cccccc!default;

/**
* @color Dark gray color
* @section Grayscale
*/

$color-dark-gray: #313131!default;

/**
* @color Black
* @section Grayscale
*/

$color-black: #000000!default;