/**
     * Primary color variable
     * @color Primary color variable
     * @section Theme Colors
     */
    
     $color-main: #2274a5;

     /**
      * Lighter primary color variable
      * @color Lighter primary color variable
      * @section Theme Colors
     */
     
     $color-lighter-main: #2274a5;
     
     /**
     * @color Default secondary color variable
     * @section Theme Colors
     */
     
     $color-secondary: #3e5d6f;
 
     /**
     * @color Secondary dark color variable
     * @section Theme Colors
     */
     
     $color-secondary-dark: #3e5d6f;
     
     /**
     * @color Default alternate color variable
     * @section Theme Colors
     */
     
     $color-success: #00b069;
     
     /**
     * @color Default red color variable
      * @section Theme Colors
      */
     
     $color-error: #e90d00;
     
     /**
     * @color Default white variable.
     * @section Grayscale
     */
     
     $color-white: #ffffff;
     
     /**
     * @color Default whitesmoke variable
     * @section Grayscale
     */
     
     $color-white-smoke: #efefef;
     
     /**
     * @color Default light gray color variable
     * @section Grayscale
     */
     
     $color-light-gray: #cccccc;
     
     /**
     * @color Default gray color variable
     * @section Grayscale
     */
     
     $color-gray: #646464;
     
     /**
     * @color Default dark gray color variable
     * @section Grayscale
     */
     
     $color-dark-gray: #313131;
     
     /**
     * @color Default black variable
     * @section Grayscale
     */
     
     $color-black: #000000;
