$color-main: #2274a5!default;
$color-lighter-main: rgb(59, 147, 219)!default;
$color-darker-main: #426BB3!default;
$color-secondary: #3e5d6f!default;
$color-secondary-dark: #3e5d6f!default;
$color-success: #00b069!default;
$color-error: #e90d00!default;
$color-white: #ffffff!default;
$color-white-smoke: #efefef!default;
$color-gray: #646464!default;
$color-light-gray: #cccccc!default;
$color-dark-gray: #313131!default;
$color-black: #000000!default;
