// Modal

@mixin modal() {

  .#{$prefix}-modal-wrap:before {
    content: '';
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
  }

  .#{$prefix}-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100001
  }

  .#{$prefix}-modal-exit {
    @include text-size(25);
    position: absolute;
    right: 15px;
    top: 5px;
  }

  .#{$prefix}-modal-open:checked ~ .#{$prefix}-modal-wrap:before,
  .#{$prefix}-modal-open:checked ~ .#{$prefix}-modal-wrap .#{$prefix}-modal-overlay {
    display: block;
  }

  .#{$prefix}-modal-open:checked ~ .#{$prefix}-modal-wrap .#{$prefix}-modal-dialog {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 40%
  }

  .#{$prefix}-modal-dialog {
    background: $color-white;
    border: $color-disabled solid 1px;
    border-radius: $border-radius;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -150%);
    transition: transform .6s ease-in-out;
    width: 80%;
    max-width: 600px;
    z-index: 100002;
  }

  .#{$prefix}-modal-body {
    padding: 20px;
  }

  .#{$prefix}-modal-header,
  .#{$prefix}-modal-footer {
    padding: 20px 20px;
  }

  .#{$prefix}-modal-header {
    border-bottom: $color-disabled solid 1px;
  }

  .#{$prefix}-modal-footer {
    border-top: $color-disabled solid 1px;
    text-align: right
  }

}
