// Examples for components/ mixins, functions, etc

/* --- BEGIN EXAMPLES.CSS --- */

//Opacity and transition example
.red {background: red;color: blue;}

a {
	@include transition(color .3s ease);
	color: #000;

	&:hover {
		@include opacity(0.9);
		@include transform(scale(1.5));
		color: #666;
	}
}

body {
	margin: 30px auto;
	max-width: 1280px;
}

.acc-row {
	margin: 2px 0;

	> div {
		padding: 3px 10px;
		color: #fff;
		background-color: #999;

		&:nth-child(2n) {
			background-color: #888888;
		}
	}
}

//Font size

//Triangles
.#{$prefix}-top {
	//@include triangle(top, $square, $square, #cc0000);
}

/* --- END EXAMPLES.CSS --- */


//todo -moved to their component page
