// Examples for components/ mixins, functions, etc

/* --- BEGIN EXAMPLES.CSS --- */

//Opacity and transition example

//@import 'temp';

a {
	@include transition(color .3s ease);
	color: #000;

	&:hover {
		@include opacity(0.9);
		@include transform(scale(1.5));
		color: #666;
	}
}

body > div.container {
	margin: 30px auto;
	width: 76%;
	max-width: calc(100% - 400px);
	min-width: 400px;
	padding: 15px 20px;
	background: #ffffff;
}

.acc-row {
	margin: 2px 0;

	> div {
		padding: 3px 10px;
		color: #fff;
		min-height: 50px;
		background-color: rgba(34, 116, 165, 0.63);
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
		position: relative;

		&:nth-child(2n) {
			background-color: #5D737E;
		}

		&:before {
			position: absolute;
			content: attr(class);
			bottom: 0;
			font-style: italic;
			opacity: .7;
			color: #f2f2f2;
		}
	}
}

//Font size

//Triangles
.#{$prefix}-top {
	//@include triangle(top, $square, $square, #cc0000);
}

/* styleguide page */

.popover-wrap {
	position: fixed;
}

.popover-list {
	@include box-sizing();
	position: absolute;
	top: -15px;
	width: 200px;
	padding: 0 25px;
	left: -200px;
	margin-left: -40px;

	/* testing */
	background-color: #2274A5;

	>li {
		@include text-size(20,38);

		>a {
			color: #ffffff;
			text-transform: uppercase;
		}
	}
}

.anchor-gap {
	padding-top: 80px;
	margin-top: -80px;
}

section.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 100px;
	background: #ffffff;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10001;

	h1 {
		color: #273c42;
	}

	img {
		width: 120px;
		position: absolute;
		left: 5%;
		top: 5px;
	}
}

body {
	background: #2274A5;
	padding-top: 100px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
	color: #273c42;
}

.container > div {
	>h2, >h3 {
		text-transform: uppercase;
		margin-top: 20px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 40px;
	}
}

.docs-example h4 {
	margin-top: 20px;
	margin-bottom: 30px;
}

/* --- END EXAMPLES.CSS --- */

//todo -moved to their component page
