/* --- BEGIN PROJECT.CSS --- */

@import 'testing_components/header';

.acc-default-container {
  position: relative;
  max-width: 1580px;
  margin: 130px auto;
  min-height: 50vh;
  border: 1px solid rgba(204, 204, 204, 0.12941176470588237);
  box-shadow: 0 1px 1px $color-light-gray;
  padding: 2em 2.5em;

  h1 {
    text-align: center;
  }

  .acc-form-inline {
    margin: 0 10px;

    label {
      min-width: 200px;
    }
  }

  &.half {
    max-width: 50%;
  }
}

.acc-form-container {
  ////@include flexbox();
  flex: 1;
  flex-direction: column;
  margin: 30px auto;
}

/* --- BEGIN PROJECT.CSS --- */