// temporary stuff, dev purpose, things I am not sure about yet, experimental... you get the point

/* --- BEGIN TEMP.CSS --- */

//Table

@import 'examples';


//Button

//Typography


.equal-width-to-height-ratio { //todo
	background: #666;
	padding-top: 50%;
	width: 50%;
}

.test {
	@include center-vertically-known-height-block(30px);
}


/* UI Color Scheme */

$ui-base-color: #e0e0e0;

$ui-primary-color: #3BAFDA ;

$ui-secondary-color: #777DA7;

$ui-third-color: #62929E;


$ui-input-color: #f6f6f6;


/* UI Font Styles */

$base-font-size: 16px;

$ui-font-family:  'Open Sans', sans-serif;

$ui-text-transform: uppercase;

$ui-font-size: 14px;

$ui-font-size-h1: 36px;

$ui-font-size-h2: 21px;


$ui-text-color: #444;

$ui-text-light-color: #fff;


/* UI Main Element Styles */

$ui-border-radius: 4px;

$ui-border-width: 1px;

$ui-element-height: 47px;

$ui-padding-vertical: 19px;

$ui-padding-horizontal: 40px;


$ui-hover-easing: ease;

$ui-hover-transition-duration: 0.1s;

/* Wrap and Components */

$ui-inner-margin: 22px;






/* Function: px to em, px to rem  */

$base-font-size: 16px;

@function em($target, $context: $base-font-size) {
	@if $target == 0 { @return 0 }
	@return $target / $context + 0em;
}

@function rem($target, $context: $base-font-size) {
	@if $target == 0 { @return 0 }
	@return $target / $context + 0rem;
}



/**
 *   Start: UI Kit SCSS:
 **/


/******  UI Font-Family   ******/
.ui {
	font-family: $ui-font-family;
	color: $ui-text-color;
}

.ui a {
	text-decoration: none;
	color: $ui-text-color;
}

.ui a:hover {
	color: lighten( $ui-text-color,  10% );


}

.ui a:active {
	color: darken( $ui-text-color, 10% );

}


/**
 * Setting h1 margin to 0 / Normalize css
 */

.ui h1, .ui h2, .ui h3, .ui h4 {

	margin: 0em 0;
}





/******  UI Font-Sizes   ******/

h1.ui {
	font-size: rem($ui-font-size-h1);

}

h2.ui {
	font-size: rem($ui-font-size-h2);

}

.bold {
	font-weight: 700;

}

/******  UI Panels & Boxes   ******/

.ui.panel, .ui.box {
	border-radius: rem($ui-border-radius);

	background: #fff;
	width: 100%;
	min-height: 330px;


	margin: 0 0 em(30px);


}

.ui.panel-header-primary, .ui.panel-header-secondary {



	background: $ui-primary-color;
	border-radius: rem($ui-border-radius) rem($ui-border-radius) 0 0;
	color: $ui-text-light-color;
	text-transform: $ui-text-transform;


	margin: 0;
	line-height: 2.6;
	text-align: center;

}


.ui.panel-header-primary {
	background: $ui-primary-color;

}

.ui.panel-header-secondary {
	background: $ui-secondary-color;

}

.ui.panel-content {
	padding: em($ui-inner-margin);

}





.ui.box > .ui.inner {
	margin: em($ui-inner-margin);
	position: relative;

	display: block;
}


/******  UI Buttons   ******/

.ui.button, .ui.button-primary, .ui.button-secondary {
	font-size: rem($ui-font-size);
	text-transform: $ui-text-transform;
	font-weight: 700;

	display: inline-block;
	line-height: 1;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */


	-o-user-select: none;
	user-select: none;
}



.ui.button {

	padding: em($ui-padding-vertical) em($ui-padding-horizontal);
	border-radius: rem($ui-border-radius);

	background: $ui-base-color;
	color: $ui-text-color;

	transition: all $ui-hover-transition-duration $ui-hover-easing 0s;
}


.ui.button-primary {

	padding: em($ui-padding-vertical) em($ui-padding-horizontal);
	border-radius: rem($ui-border-radius);

	background: $ui-primary-color;
	color: $ui-text-light-color;

	transition: all $ui-hover-transition-duration $ui-hover-easing 0s; /*   Hover Transition */




}

.ui.button-secondary {

	padding: em($ui-padding-vertical) em($ui-padding-horizontal);
	border-radius: rem($ui-border-radius);

	background: $ui-secondary-color;
	color: $ui-text-light-color;

	transition: all $ui-hover-transition-duration $ui-hover-easing 0s; /*   Hover Transition */
}







.ui.button.fluid, .ui.button-primary.fluid, .ui.button-secondary.fluid {
	width: 100%;
	max-width: 600px;
}

/* Icon Button   */




/* Hover + Active   */

.ui.button:hover {
	background: lighten( $ui-base-color, 3% );


}

.ui.button:active {
	background: darken( $ui-base-color, 3% );

}

.ui.button-primary:hover {
	background: lighten( $ui-primary-color, 3% );


}

.ui.button-primary:active {
	background: darken( $ui-primary-color, 3% );


}

.ui.button-secondary:hover {
	background: lighten( $ui-secondary-color, 3% );


}

.ui.button-secondary:active {
	background: darken( $ui-secondary-color, 3% );

}




/*  Search Input  */
.ui.icon-input, .ui.search-input, .ui.search-input-primary, .ui.search-input-secondary, .ui.mail-input, .ui.password-input {
	display: block;
	height: rem($ui-element-height);
	position: relative;
	max-width: 600px;
}





.ui.search-input-primary > i, .ui.search-input-secondary > i  {
	font-size:  rem($base-font-size)*1.14;

	padding: 0.7em;

	color: $ui-text-light-color;


	border-radius: 0 rem($ui-border-radius) rem($ui-border-radius) 0;

	position: absolute;
	padding: 0.7em;
	height: 100%;
	top: 0;
	right: 0;
	text-align: center;

}

.ui.search-input-primary > i {
	background: $ui-primary-color;
	border: $ui-border-width solid  $ui-primary-color;
}

.ui.search-input-secondary > i {
	background: $ui-secondary-color;
	border: $ui-border-width solid  $ui-secondary-color;
}



.ui.icon-input > i, .ui.mail-input > i, .ui.password-input > i  {
	font-size:  rem($base-font-size)*1.14;

	background: darken( $ui-base-color, 4% );
	color: $ui-text-light-color;

	border-radius: rem($ui-border-radius) 0 0 rem($ui-border-radius);



	position: absolute;
	padding: 0.8em 0.7em;
	height: 100%;
	top:0;
	left: 0;
	text-align: center;

}

.ui.icon-input input, .ui.mail-input input, .ui.password-input input  {
	padding-left: 3.7em;

}



/******  UI Lists   ******/

.ui.list, .ui.list-primary, .ui.list-secondary  {
	padding: 0;

}

.ui.list li, .ui.list-primary li, .ui.list-secondary li {
	list-style: none;
	position: relative;
}

.ui.list li a, .ui.list-primary li a, .ui.list-secondary li a {
	text-decoration: none;
	width: 100%;
	display: block;
	position: relative;

	color: 	#444;


	padding: em(10px) em(30px);

	transition: all $ui-hover-transition-duration $ui-hover-easing 0s; /*   Hover Transition */
}

.ui.list li a > i, .ui.list-primary li a > i, .ui.list-secondary li a > i {


	font-size:  rem($base-font-size)*1.14;


	color: $ui-text-color;

	border-radius: 0 rem($ui-border-radius) rem($ui-border-radius) 0 ;



	position: absolute;
	padding: 0.8em  em(22px);

	height: 100%;
	top:0;
	right: 0;
	text-align: center;


}



.ui.list li a.active {
	background: lighten( $ui-base-color, 6% );

	border-left: rem(3px) solid $ui-text-color;
}

.ui.list-primary li a.active {
	background: lighten( $ui-base-color, 6% );

	border-left: rem(3px) solid $ui-primary-color ;

}


.ui.list-secondary li a.active {
	background: lighten( $ui-base-color, 6% );

	border-left: rem(3px) solid $ui-secondary-color;
}

.ui.list li a:hover, .ui.list-primary li a:hover, .ui.list-secondary li a:hover {
	background: lighten( $ui-base-color, 3% );


}

.ui.list li a:hover > i {

	color: lighten( $ui-text-color, 12% );
}

.ui.list-primary li a:hover > i {
	color: $ui-primary-color;
}

.ui.list-secondary li a:hover > i {
	color: $ui-secondary-color;

}




/******  UI Widgets & Theme Styles   ******/

.ui.profile {
	background: $ui-primary-color;
	border-radius: rem($ui-border-radius);

	text-align: center;
	padding: em(16px);

	color: $ui-text-light-color;

	min-height: 330px;

}


.ui.profile img{
	border-radius: 50%;
	border: 1px solid white;
	padding: 6px;
}

.ui.profile div.button-primary{
	border: 1px solid #fff;
}





/* --- END TEMP.CSS --- */
