// temporary stuff, experimental...

/* --- BEGIN TEMP.CSS --- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://use.fontawesome.com/releases/v5.0.12/css/all.css');
// nothing yet

.SG-layout {
  max-width: 1400px;

  span {
    @include text-size(16);
  }
}

.SG-header {
  height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 555;
  background: #fff;
}

.SG-header::before {
  display: none;
}

.SG-layout {
  padding-top: 90px;
  position: relative;
  z-index: 5;
  background: #fff;
}

.SG-search {
  z-index: 999999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.SG-component .token.property, .SG-component .token.tag, .SG-component .token.constant, .SG-component .token.symbol, .SG-component .token.deleted {
  color: #26f9ef;
}

.SG-h2 {
  color: $color-main;
  font-size: 21px;
  border-bottom: 1px solid #d8d8d8;
  padding: 20px 0;
  margin-bottom: 1.5em;
}
.SG-icon-preview .SG-icon-preview__name {

color: $color-main;
}

.SG-button:hover {
  border-color:  $color-main;
  color: $color-main;
}

.SG-nav .SG-nav__item--active {
border-bottom: 3px solid $color-main;
}

.SG-h1 {
font-family: Lato, sans-serif;
font-weight: 300;
padding: 0;
margin: 0;
font-size: 42px;
color: $color-main;
text-transform: uppewrcase;
margin-bottom: 1em;
}

.SG-nav .SG-nav__item--active:hover {
  border-bottom: 3px solid #000000;
}

//colored grid example
.colored-grid {
	>div {

		> div {
			padding: 3px 10px;
			color: $color-white;
			min-height: 50px;
			background-color: $color-main-lighter;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
			position: relative;

			&:nth-child(2n) {
				background-color: $color-main-gray;
			}

			&:before {
				position: absolute;
				content: attr(class);
				bottom: 0;
				font-style: italic;
				opacity: .7;
				color: $color-main-white;
			}
		}
	}

	&.--big {
		>div >div {
			min-height: 100px;
		}
	}
}

.todo {     
     
      .block-with-text {
        overflow: hidden;
        position: relative; 
        line-height: 1.2em;
        max-height: 3.6em; 
        text-align: justify;
        margin-right: -1em;
        padding-right: 1em;
      }

      .block-with-text:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .block-with-text:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
      }
}

.acc-spacer {
  height: 1px;
  width: 100%;
  margin: 10px 0;
} 

*{
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ccc;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 0;
    background-color: #f5f5f5;
  }
}

/* --- END TEMP.CSS --- */
