// temporary stuff, experimental...

/* --- BEGIN TEMP.CSS --- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

// nothing yet

.SG-layout {
  max-width: 1400px;
}

.SG-a {
  @include text-size(18);
  text-decoration: none;
}

.SG-p {
  @include text-size(18);
}

.SG-header {
  height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 555;
  background: #fff;
}

.SG-toc ul {
  line-height: 2.5;

  li a {
    text-decoration: none;
    color: #395565;
    @include text-size(19, 35);
  }
}

.SG-header::before {
  display: none;
}

.SG-layout {
  padding-top: 140px;
  position: relative;
  z-index: 5;
  @include text-size(18,27);
  background: #fff;

  .SG-table__cell {
    @include text-size(18);
  }
}

.SG-logo .SG-logo__icon {
  background: url('~/../../styleguide/static/img/logo_temp.svg');
  height: 50px;
  background-size: auto 100%;
  width: 85px;
  background-repeat: no-repeat;
  background-position: center;
}

.SG-logo .SG-logo__icon::before {
  display: none;
}

.SG-search {
  z-index: 999999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.SG-component .token.property, .SG-component .token.tag, .SG-component .token.constant, .SG-component .token.symbol, .SG-component .token.deleted {
  color: #26f9ef;
}

.SG-mixin .SG-mixin__file {
  color: #3597c6;
}

.SG-h2 {
  color: $color-main;
  @include text-size(38);
  border-bottom:0;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding: 0;
}
.SG-icon-preview .SG-icon-preview__name {

color: $color-main;
}

.SG-component {
  padding-bottom: 95px;
  border-bottom: 1px solid rgba(0,0,0, 0.05);
  margin-top: -60px;
  padding-top: 60px;

  .SG-component {
    padding: 0;
    margin: 0;
    border: 0;
  }
}

.SG-anchor {
  padding-top: 140px; margin-top: -140px;
}

.SG-strong {
  font-weight: 400;
}

.SG-nav li:last-child{ float: right;}

.SG-component .SG-component__title,
.SG-h3 {
  color: #3E5D6F;
  @include text-size(25, 50);
  border-bottom: 1px solid #3E5D6F;
}

.SG-button:hover {
  border-color:  $color-main;
  color: $color-main;
}

.SG-nav .SG-nav__item {
  color: #2274a5;
}

.SG-nav .SG-nav__item--active {
  color: #2274a5;
}

.SG-nav .SG-nav__item--active {
border-bottom: 3px solid $color-main;
}

.SG-h1 {
font-family: Lato, sans-serif;
font-weight: 300;
padding: 0;
margin: 0;
font-size: 42px;
color: $color-main;
text-transform: uppercase;
margin-bottom: 1em;
}

.SG-nav .SG-nav__item--active:hover {
  border-bottom: 3px solid #000000;
}

.SG-top-wrapper  {
  min-height: calc(100vh - 140px);
}


//colored grid example
.colored-grid {
	>div {

		> div {
			padding: 3px 10px;
			color: $color-white;
			min-height: 50px;
			background-color: $color-lighter-main;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
			position: relative;

			&:nth-child(2n) {
				background-color: $color-gray;
			}

			&:before {
				position: absolute;
				content: attr(class);
				bottom: 0;
				font-style: italic;
				opacity: .7;
				color: $color-white;
			}
		}
	}

	&.--big {
		>div >div {
			min-height: 100px;
		}
	}
}

.todo {     
     
      .block-with-text {
        overflow: hidden;
        position: relative; 
        line-height: 1.2em;
        max-height: 3.6em; 
        text-align: justify;
        margin-right: -1em;
        padding-right: 1em;
      }

      .block-with-text:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .block-with-text:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
      }
}

.acc-spacer {
  height: 1px;
  width: 100%;
  margin: 10px 0;
} 

*{
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ccc;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 0;
    background-color: #f5f5f5;
  }
}

/* --- END TEMP.CSS --- */