//Grid
//issue when mixing auto with normal grid

@mixin grid-row() {
	////@include flexbox();
	////@include flex-flow(row wrap);
	margin-left: -$gutter;
	padding: 0;

	>div {
		//@include flex(1 0 100%);
		margin-left: $gutter;
		margin-bottom: ($gutter / 2);
	}

	[class*="col-auto"] {
		//@include flex(1 0 auto);
	}
}

@mixin grid($size) {
	@if $size == container or $size == wrapper {
		@include grid-row;
	}

	@else {
		$percentage: grid($size);

		@if $percentage != null {
			max-width: ($percentage - $gutter);
		}
	}
}

@mixin grid-push($side, $size) {
	$percentage: grid($size);

	@if $percentage != null and ($side == right or $side == left) {
		margin-#{$side}: $percentage;
	}
}
