@mixin link-styling() {

  @include text-size(16);
  background-color: transparent; // crossbrowser setting
  text-decoration: none;
  color: $color-black;

    //@include transition(color .3s ease);
    color: $color-black;
    text-decoration: underline;

    &:hover {
      //opacity(0.9);
      color: #666;
    }


  &:hover {
    text-decoration: underline;
  }
}
