//needs revision

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  color: $color-secondary;
}

h1 {
  @include text-size(48);
}

h2 {
  @include text-size(38);
}

h3 {
  @include text-size(32);
}

h4 {
  @include text-size(28);
}

h5 {
  @include text-size(24);
}

h6 {
  @include text-size(22);
}

//$base-font-size: 18;
//$heading-scale: 6; // amount of px headings grow from h6 to h1

//@for $i from 1 through 6 {
  //h#{$i} {
//    font-size: $base-font-size + $heading-scale * (6 - $i);
  //  @include text-size($base-font-size + $heading-scale * ($heading-scale - $i));

    //font-size: $base-font-size + $heading-scale) * $heading-scale * ($heading-scale - $i);
  //}/
//}