// Headings

$color-headings: $color-heading;
$font-headings: $font-heading;

@mixin heading-defaults() {
    margin-bottom: 15px;
    font-family: $font-headings;
    color: $color-headings;
}