//Global Sass Variables

$base-font-size: '16px';
$minimal-classes: false; //todo add @if (minimnal classes, and minify the classes);
$prefix: 'acc'; //we setup the default namespaces for 'accesa' -> 'acc'