// Grid function

$column: 12;
$gutter: 1%;
//error handling for grid columns and gutter
//todo => improve function
//todo check number and validate if the percentage is HUUGE
//find a way to add px gutter instead of percentage
@function grid($size) {
	$grid-base: $column;
	$divide: null;
	$total: null;

	@if length($size) == 1 and type_of($size) != number {
		@if $size == full or $size == block {
			$divide: 1;
			$total: 1;
		} @else if $size == half {
			$divide: 1;
			$total: 2;
		}
		@else if $size == third {
			$divide: 1;
			$total: 3;
		}
	} @else {
		@if length($size) > 1 {
			$divide: nth($size, 1);
			$total: nth($size, length($size));
		} @else {
			$divide: $size;
			$total: $grid-base;
		}
	}

	@if type_of($divide) == number and type_of($total) == number {
		@return percentage($divide/$total);
	} @else {
		@return null;
	}
}
