
$fa-font-path: "~node_modules/font-awesome/fonts";
@import url("../node_modules/font-awesome/css/font-awesome.min.css");

.#{$prefix}icon {
  display: inline-block;
  @extend %awesome-font;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

/**
 * @icon user
 * @markup
 *  <i class="acc-icon --user"></i>
 */
  
 .#{$prefix}icon {

  &.--user:before {
    content: "\f2ba";
  }
 }

/**
* @icon code
* @markup
*  <i class="acc-icon --code"></i>
*/

.#{$prefix}icon {
  &.--code:before {
    content: "\f121";
  }
 }

/**
* @icon question
* @markup
*  <i class="acc-icon --question"></i>
*/

.#{$prefix}icon {
  &.--question:before {
    content: "\f128";
  }
 }

/**
* @icon copy
* @markup
*  <i class="acc-icon --copy"></i>
*/

.#{$prefix}icon {
  &.--copy:before {
    content: "\f0c5";
  }
 }

/**
* @icon seach
* @markup
*  <i class="acc-icon --seach"></i>
*/

.#{$prefix}icon {
  &.--seach:before {
    content: "\f002";
  }
 }

//NOTE//
//Improve in upcoming versions.
//