/**
 * @icon fontAwesome icons - broken. I promise, really soon we will have a nice integration. *pinky promise
 * @markup
 *  <i class="acc-icon --bars"></i>
 */
  
 .#{$prefix}icon {
   
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.--bars:before {
    content: "\f2ba";
  }
 }

//NOTE//
//Improve in upcoming versions. THIS IS BROKEN
//