// Grid layout

$column: 12;

@mixin grid-container {
  @include flexbox;
  flex-flow: row wrap;
  width: 100%;

  & > * {
    flex: 1 0 100%; //todo
  }
}

@function grid($size) {

  $grid-base: $column;
  $divide: null;
  $total: null;

  @if length($size) == 1 and type_of($size) != number {
    
    @if $size == full or $size == block {
      $divide: 1;
      $total: 1;
    }
      
    @else if $size == half {
      $divide: 1;
      $total: 2;
    }
      
    @else if $size == third {
      $divide: 1;
      $total: 3;
    }
      
    @else if $size == quarter {
      $divide: 1;
      $total: 4;
    }
      
    @else if $size == fifth {
      $divide: 1;
      $total: 5;
    }
  }
    
  @else {
    
    @if length($size) > 1 {
      $divide: nth($size, 1);
      $total: nth($size, length($size));
    }
      
    @else {
      $divide: $size;
      $total: $grid-base;
    }
  }

  @if type_of($divide) == number and type_of($total) == number {
    @return percentage($divide/$total);
  }

  @else {
    @return null;
  }
}

@mixin grid($size) {
  
  @if $size == container or $size == wrapper {
    @include grid-container;
  }
    
  @else {
    $percentage: grid($size);

    @if $percentage != null {
      max-width: $percentage;
    }
  }
}

// GRID OFFSET (mixin)
@mixin grid-push($side, $size) {
  $percentage: grid($size);

  @if $percentage != null and ($side == right or $side == left) {
    margin-#{$side}: $percentage;
  }
}

/* --- BEGIN GRID.CSS --- */

//Set default grid container classes

.#{$prefix}-grid-container {
  @include grid(container);

  //Targeting mostly smartphone portrait devices
  @include for-size(phone-only) {

    .#{$prefix}-col-xs-full {
      @include grid(full);
    }

    .#{$prefix}-col-xs-half {
      @include grid(half );
    }

    .#{$prefix}-col-xs-third {
      @include grid(third);
    }

    .#{$prefix}-col-xs-quarter {
      @include grid(quarter);
    }

    .#{$prefix}-col-xs-fifth {
      @include grid(fifth);
    }

    .#{$prefix}-col-xs-1 {
      @include grid(1);
    }

    .#{$prefix}-col-xs-2 {
      @include grid(2);
    }

    .#{$prefix}-col-xs-3 {
      @include grid(3);
    }

    .#{$prefix}-col-xs-4 {
      @include grid(4);
    }

    .#{$prefix}-col-xs-5 {
      @include grid(5);
    }

    .#{$prefix}-col-xs-6 {
      @include grid(6);
    }

    .#{$prefix}-col-xs-7 {
      @include grid(7);
    }

    .#{$prefix}-col-xs-8 {
      @include grid(8);
    }

    .#{$prefix}-col-xs-9 {
      @include grid(9);
    }

    .#{$prefix}-col-xs-10 {
      @include grid(10);
    }

    .#{$prefix}-col-xs-11 {
      @include grid(11);
    }

    .#{$prefix}-col-xs-12 {
      @include grid(12);
    }
  }

  //Targeting mostly table portrait and smartphone landscape and up
  @include for-size(tablet-portrait-up) {

    .#{$prefix}-col-sm-full {
      @include grid(full);
    }

    .#{$prefix}-col-sm-half {
      @include grid(half );
    }

    .#{$prefix}-col-sm-third {
      @include grid(third);
    }

    .#{$prefix}-col-sm-quarter {
      @include grid(quarter);
    }

    .#{$prefix}-col-sm-fifth {
      @include grid(fifth);
    }

    .#{$prefix}-col-sm-1 {
      @include grid(1);
    }

    .#{$prefix}-col-sm-2 {
      @include grid(2);
    }

    .#{$prefix}-col-sm-3 {
      @include grid(3);
    }

    .#{$prefix}-col-sm-4 {
      @include grid(4);
    }

    .#{$prefix}-col-sm-5 {
      @include grid(5);
    }

    .#{$prefix}-col-sm-6 {
      @include grid(6);
    }

    .#{$prefix}-col-sm-7 {
      @include grid(7);
    }

    .#{$prefix}-col-sm-8 {
      @include grid(8);
    }

    .#{$prefix}-col-sm-9 {
      @include grid(9);
    }

    .#{$prefix}-col-sm-10 {
      @include grid(10);
    }

    .#{$prefix}-col-sm-11 {
      @include grid(11);
    }

    .#{$prefix}-col-sm-12 {
      @include grid(12);
    }
  }

  //Targeting mostly table landscape, some really small desktop monitors and up
  @include for-size(tablet-landscape-up) {

    .#{$prefix}-col-md-full {
      @include grid(full);
    }

    .#{$prefix}-col-md-half {
      @include grid(half );
    }

    .#{$prefix}-col-md-third {
      @include grid(third);
    }

    .#{$prefix}-col-md-quarter {
      @include grid(quarter);
    }

    .#{$prefix}-col-md-fifth {
      @include grid(fifth);
    }

    .#{$prefix}-col-md-1 {
      @include grid(1);
    }

    .#{$prefix}-col-md-2 {
      @include grid(2);
    }

    .#{$prefix}-col-md-3 {
      @include grid(3);
    }

    .#{$prefix}-col-md-4 {
      @include grid(4);
    }

    .#{$prefix}-col-md-5 {
      @include grid(5);
    }

    .#{$prefix}-col-md-6 {
      @include grid(6);
    }

    .#{$prefix}-col-md-7 {
      @include grid(7);
    }

    .#{$prefix}-col-md-8 {
      @include grid(8);
    }

    .#{$prefix}-col-md-9 {
      @include grid(9);
    }

    .#{$prefix}-col-md-10 {
      @include grid(10);
    }

    .#{$prefix}-col-md-11 {
      @include grid(11);
    }

    .#{$prefix}-col-md-12 {
      @include grid(12);
    }
  }

  //Targeting desktop monitors and up
  @include for-size(desktop-up) {

    .#{$prefix}-col-lg-full {
      @include grid(full);
    }

    .#{$prefix}-col-lg-half {
      @include grid(half );
    }

    .#{$prefix}-col-lg-third {
      @include grid(third);
    }

    .#{$prefix}-col-lg-quarter {
      @include grid(quarter);
    }

    .#{$prefix}-col-lg-fifth {
      @include grid(fifth);
    }

    .#{$prefix}-col-lg-1 {
      @include grid(1);
    }

    .#{$prefix}-col-lg-2 {
      @include grid(2);
    }

    .#{$prefix}-col-lg-3 {
      @include grid(3);
    }

    .#{$prefix}-col-lg-4 {
      @include grid(4);
    }

    .#{$prefix}-col-lg-5 {
      @include grid(5);
    }

    .#{$prefix}-col-lg-6 {
      @include grid(6);
    }

    .#{$prefix}-col-lg-7 {
      @include grid(7);
    }

    .#{$prefix}-col-lg-8 {
      @include grid(8);
    }

    .#{$prefix}-col-lg-9 {
      @include grid(9);
    }

    .#{$prefix}-col-lg-10 {
      @include grid(10);
    }

    .#{$prefix}-col-lg-11 {
      @include grid(11);
    }

    .#{$prefix}-col-lg-12 {
      @include grid(12);
    }
  }

  //Targeting big desktop monitors and up
  @include for-size(big-desktop-up) {

    .#{$prefix}-col-big-full {
      @include grid(full);
    }

    .#{$prefix}-col-big-half {
      @include grid(half );
    }

    .#{$prefix}-col-big-third {
      @include grid(third);
    }

    .#{$prefix}-col-big-quarter {
      @include grid(quarter);
    }

    .#{$prefix}-col-big-fifth {
      @include grid(fifth);
    }

    .#{$prefix}-col-big-1 {
      @include grid(1);
    }

    .#{$prefix}-col-big-2 {
      @include grid(2);
    }

    .#{$prefix}-col-big-3 {
      @include grid(3);
    }

    .#{$prefix}-col-big-4 {
      @include grid(4);
    }

    .#{$prefix}-col-big-5 {
      @include grid(5);
    }

    .#{$prefix}-col-big-6 {
      @include grid(6);
    }

    .#{$prefix}-col-big-7 {
      @include grid(7);
    }

    .#{$prefix}-col-big-8 {
      @include grid(8);
    }

    .#{$prefix}-col-big-9 {
      @include grid(9);
    }

    .#{$prefix}-col-big-10 {
      @include grid(10);
    }

    .#{$prefix}-col-big-11 {
      @include grid(11);
    }

    .#{$prefix}-col-big-12 {
      @include grid(12);
    }
  }

  //Grid classes that apply at all times
  .#{$prefix}-col-full {
    @include grid(full);
  }

  .#{$prefix}-col-half {
    @include grid(half );
  }

  .#{$prefix}-col-third {
    @include grid(third);
  }

  .#{$prefix}-col-quarter {
    @include grid(quarter);
  }

  .#{$prefix}-col-fifth {
    @include grid(fifth);
  }
  
  .#{$prefix}-col-1 {
    @include grid(1);
  }

  .#{$prefix}-col-2 {
    @include grid(2);
  }

  .#{$prefix}-col-3 {
    @include grid(3);
  }

  .#{$prefix}-col-4 {
    @include grid(4);
  }

  .#{$prefix}-col-5 {
    @include grid(5);
  }

  .#{$prefix}-col-6 {
    @include grid(6);
  }

  .#{$prefix}-col-7 {
    @include grid(7);
  }

  .#{$prefix}-col-8 {
    @include grid(8);
  }

  .#{$prefix}-col-9 {
    @include grid(9);
  }

  .#{$prefix}-col-10 {
    @include grid(10);
  }

  .#{$prefix}-col-11 {
    @include grid(11);
  }

  .#{$prefix}-col-12 {
    @include grid(12);
  }

  //Gutter - todo - add more
  .#{$prefix}-col-push-left-1 {
    @include grid-push(left, 1 of 12);
  }
}

/* --- END GRID.CSS --- */