//sync with responsive breakpoints maybe?
/**
 * Default table design
 * @structure Default table
 * @section Table
 * @markup
*  <table class="default-table">
*   <thead>	                                 
*    <tr>
*     <th>table heading</th>
*     <th>table heading</th>                    
*     <th>table heading</th>                   
*     <th>table heading</th>
*     <th>table heading</th>
*    </tr>
*   </thead>
*   <tbody>	                 
*    <tr>	                                   
*     <td>table cell</td>                  
*     <td>table cell</td>
*     <td>table cell</td>
*     <td>table cell</td>                   
*     <td>table cell</td>                 
*    </tr>
*    <tr>	                                   
*     <td>table cell</td>                  
*     <td>table cell</td>
*     <td>table cell</td>
*     <td>table cell</td>                   
*     <td>table cell</td>                 
*    </tr>
*    <tr>	                                   
*     <td>table cell</td>                  
*     <td>table cell</td>
*     <td>table cell</td>
*     <td>table cell</td>                   
*     <td>table cell</td>                 
*    </tr>
*   </tbody>
*  </table>
*/

@mixin default-table() {
	border: 1px solid #ccc;
	min-width: 50%;
	padding: 5px;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;

	td,
	th {
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: top;
		border: 1px solid #ddd;
	}
}

/**
 * Minimal table design
 * @structure Minimal table
 * @section Table
 * @markup
*  <table class="minimal-table">
*   <thead>	                                 
*    <tr>
*     <th>table heading</th>
*     <th>table heading</th>                    
*     <th>table heading</th>                   
*     <th>table heading</th>
*     <th>table heading</th>
*    </tr>
*   </thead>
*   <tbody>	                 
*    <tr>	                                   
*     <td>table cell</td>                  
*     <td>table cell</td>
*     <td>table cell</td>
*     <td>table cell</td>                   
*     <td>table cell</td>                 
*    </tr>
*    <tr>	                                   
*     <td>table cell</td>                  
*     <td>table cell</td>
*     <td>table cell</td>
*     <td>table cell</td>                   
*     <td>table cell</td>                 
*    </tr>
*    <tr>	                                   
*     <td>table cell</td>                  
*     <td>table cell</td>
*     <td>table cell</td>
*     <td>table cell</td>                   
*     <td>table cell</td>                 
*    </tr>
*   </tbody>
*  </table>
*/

@mixin minimal-table() {
	border: 1px solid #ccc;
	min-width: 50%;
	padding: 5px;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;

	thead {
		padding: 5px;
	}

	tbody {
		padding: 5px;
	}

	tr {
		padding: 5px;
	}

	td,
	th {
		padding: 5px;
	}
}
