//sync with responsive breakpoints maybe?
@mixin table-default-design() {
	border: 1px solid #ccc;
	min-width: 50%;
	padding: 5px;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;

	td,
	th {
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: top;
		border: 1px solid #ddd;
	}
}

@mixin table-minimal-design() {
	border: 1px solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;

	thead {

		tr {

			th {
				padding: 10px;
			}
		}
	}

	tbody {

		tr {

			td {
				padding: 5px 10px;
			}
		}
	}
}


@mixin table-typography() {
	$font-table: 'Open-Sans', sans-serif;
	$color-table: $color-dark-gray;

	$font-tables: $font-table;
	$color-tables: $color-table;
	$temp-color: #4a4a4a;

	color: $temp-color;
}
