@mixin code-styling() {
  @include flexbox();
  background: $color-dark-gray;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  margin: 10px 0;
  border-radius: $border-radius;
  border: darken($color-dark-gray, 20);
  position: relative;

  label {
    @extend %paragraph-font;
    font-weight: bold;
    font-size: 13px;
    color: #ddd;
    text-align: center;
    width: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;

    @include center-vertically-unknown-height-flex();
  }

  code {
    @extend %code-font;
    display: block;
    margin: 0 0 0 5px;
    padding: 15px 16px 14px;
    border-left: 1px solid lighten($color-dark-gray, 50);
    overflow-x: auto;
    font-size: 13px;
    line-height: 19px;
    color: lighten($color-dark-gray, 50);
    cursor: text;
  }

  &::after {
    content: "double click to selection";
    padding: 0;
    width: auto;
    height: auto;
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 12px;
    color: #ddd;
    line-height: 20px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.3s ease;
  }

  &:hover::after {
    opacity: 0;
    visibility: visible;
  }

  &.css {
    border: $color-lighter-main;
    background: darken($color-darker-main, 25%);
    code {
      color: $color-white-smoke;
      border-left: 1px solid $color-white-smoke;
    }
  }
}